#*.csv
data.csv
data_interpolated.csv
processed_data.csv
.venv/
.data/
__pycache__/
.*/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

#*.pt
#*.pth